venv/
__pycache__/
*.py[cod]
*.egg-info/
.env
models/*.joblib
.DS_Store
node_modules/
*.log
.pytest_cache/
.mypy_cache/
venv311/
.venv/
cache/
# backend/database/*.db

# data/
# models/
*.parquet
# *.csv
*.pt
*.graphml
*.ckpt
*.png
